.rcw-conversation-container > .rcw-header {
  background-color: #08314D;
  padding: 0;
}

.rcw-conversation-container > .rcw-header > .rcw-title {
  padding: 0;
}

.rcw-widget-container > .rcw-launcher {
  background-color: #08314D;
}

.rcw-message > .rcw-client > .rcw-message-text {
  background-color: #08314D;
  color: white;
}